<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Parameter</title>
</head>
<body>
    <form action="/get/parameter" method="post">
        {% module xsrf_form_html() %}
        Parameter : <br />
        <input type="text" name="parameter" id="parameter" autofocus="autofocus" />
        <input type="submit" value="Send Parameter" />
    </form>
</body>
</html>