<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body onload="SendForm()">

    <form action="/other/request" method="post">
        {% module xsrf_form_html() %}
        <input type="hidden" name="parameter" value="{{ parameter }}" />
        <input type="submit" id="reganto" style="display: none;" />
    </form>

    <script !src="">
        function SendForm() {
            document.getElementById('reganto').click();
        }
    </script>

</body>
</html>